.parentContainer {
  margin: 0;
  padding: 10px 20px 0px 20px;
}
.headerContent {
  text-transform: uppercase !important;
  font-weight: bold;
}
.idStyles {
  padding: 3px;
  color: gray;
  font-weight: bold;
}
.orderStyles {
  padding: 3px;
  font-weight: bold;
}
.divStyles {
  padding: 3px;
  color: gray;
}
.dateStyles {
  display: flex;
  justify-content: space-between;
  text-transform: uppercase;
  font-size: 12px;
  padding: 3px;
  color: gray;
  font-weight: bold;
}
.assignedDiv {
  margin-right: 20px;
}
.applicationBtn {
  color: dodgerblue;
  background: lightcyan;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  margin-left: 8px;
  padding: 1px 3px;
  border: 2px solid dodgerblue;
}
.cardContainer {
  background-color: white;
  border-left: 3px solid #8ec760;
  margin: 10px 0px;
  padding: 10px 0px 10px 10px;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
.borderStyles {
  border: none;
}
.searchStyles {
  margin-right: 5px;
}
.droppableContainer {
  display: flex;
}
.draggableColumn {
  background: #f5f5f5;
  padding: 20px 7px;
  border-radius: 5px;
  width: 25%;
  /* height: 90vh; */
  margin-right: 20px;
  /* overflow: auto; */
} 
.draggableColumn:last-child {
  margin-right: 0px;
}